#History files
.Rhistory
.Rapp.history
.Rproj.user

#Specific data
/data/shapes/CAMS_ZIPCODE_PARCEL_SPECIFIC/*
!/data/shapes/ConversionStuff
/R/InitialExplorations_files
/R/InitialExplorations_cache
/data/zipfiles/*
