#History files
.Rhistory
.Rapp.history


#Specific data
/data/shapes
!/data/shapes/ConversionStuff
!/data/shapes/lanbh*
!/data/shapes/states*
/data/aff_download/*
/R/MapExplorationsSummary_files
/R/MapExplorationsSummary_cache
/data/zipfiles/*
